:root {
  --color-fondo: #f9fafb;
  --color-principal: #2b5329;
}
/* variables de colores basics para la pagina*/


* {
margin: 0; /*eliminan el margen por defecto de todos los elementos*/
padding: 0;/*eliminan el padding por defecto de todos los elementos*/ /*padding es el espacio interno del elemento*/
box-sizing: border-box; /*para que el padding y el border no afecten al tamaño del elemento*/

}

body {                              /*color, fuente, padding, color de fondo*/
  font-family: Arial, sans-serif;      
  margin: 2ch;
  padding: 0;
  background-color: #f4efe6;
}


img {

  max-width: 100%; /*para que la imagen no se salga del contenedor*/
  height: auto;  /*para que la imagen no se deforme*/
  display: block; /*para que la imagen no tenga espacio debajo*/

}


/*header y navegacion con flexbox*/
header {
background-color: #f4efe6;
display: flex;
align-items: center; /* alinea los elementos al centro de forma vertical*/
color: rgb(244, 239, 230);
justify-content: space-between; /* distribuye el espacio entre los elementos*/
}


footer {  /*colo, fuente, padding y color de fondo para el footer*/
  background-color: #eae4d8;
  color: #6b6254;
  padding: 1rem;
  text-align: center;
  }


nav ul {
  display: flex ; /*para que los elementos del nav se muestren en fila*/
  gap: 1rem; /*para que haya espacio entre los elementos del nav*/
  list-style: none; 
  
}

nav a {
  color: #2b5329; /*color de los enlaces del nav*/
  text-decoration: none; /*para que los enlaces no tengan subrayado*/
  font-weight: bold; /*para que los enlaces del nav sean negrita*/
}




/*LAYOUT PRINCIPAL CON EL BOCETO*/


main {
  
  max-width: 1200px; /*para que el main no se salga del contenedor*/
  margin: 0 auto; /*para centrar el main*/
  padding: 2rem; /*para que haya espacio entre el contenido y el borde del main*/
  flex: 1; /*para que el main ocupe todo el espacio disponible*/
}




/*MOBILE FIRST*/

@media (min-width: 768px) {
  header {
    flex-direction: column; /*para que los elementos del header se muestren en columna*/
    align-items: flex-start; /*para que los elementos del header se alineen a la izquierda*/
  }

  nav ul {
    flex-direction: column; /*para que los elementos del nav se muestren en columna*/
    gap: 0.5rem; /*para que haya menos espacio entre los elementos del nav*/
  }
}

/* Crédito de las imágenes */
figure {
  margin: 16px 0;
}

figcaption {
  font-size: 14px;
}
